@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body {
    font-family: "Noto Sans TC", sans-serif;
	cursor: url(https://cur.cursors-4u.net/nature/nat-4/nat324.cur), auto;
	}
nav {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    opacity: 1;
    -webkit-box-shadow: inset 0px 0px 6px 0px #2F2F2F;
    box-shadow: inset 0px 0px 6px 0px #2F2F2F;
}
nav h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 500;
    display: flex;
    text-shadow: 1px 1px 1px #000000;
}
nav h3 img {
    margin-right: 7px;
    margin-top: 2px;
}
nav ul li {
    display: inline;
    margin-left: 13px;
    margin-right: 11px;
    padding-right: 9px;
}
nav a:link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 300;
}
nav a:visited {
    color: #FF9523;
    text-decoration: none;
    font-weight: 300;
}
nav a:hover {
    color: #FFC88D;
    text-decoration: overline;
    text-shadow: 1px 1px 1px #FFFFFF;
}
nav ul {
  margin-right: 20px;
}
header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: 0% center;
    background-image: url(image/heroimg.jpg);
    height: 101vh;
}
header h1 {
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 700;
    line-height: 93px;
    margin-left: 15px;
    text-shadow: 1px 1px 6px #000000;
   
}

header h2 {
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 93px;
    margin-left: 23px;
    margin-top: 8px;
    font-style: italic;
	text-shadow: 1px 1px 6px #000000;
    
}

article {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #000000;
}
.picture {
    width: 100%;
    height: 410%;
    background-image: url(image/sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;

}


article h2 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 40px;
    font-weight: 600;
    color: #FFB66B;
    text-shadow: 3px 1px 1px #FFFFFF;
    height: auto;
}
#a02 {
    background-image: url(image/thesea.jpg);
    background-size: 103% auto;
    background-position: 99% 0%;
    width: 100%;
    height: 130vh;

}

.container1 {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.container1 .up {
    background-image: url(image/aboutme.jpg);
    background-size: 60% auto;
    background-position: 53% 10%;
    vertical-align: baseline;
    background-repeat: no-repeat;
    width: 59%;
    height: 100%;
    opacity: 1;
    margin-top: 8px;
    border-radius: 241%;
}
.container1 .down {
    border-radius: 20px;
    background-position: center center;
    font-size: 27px;
    text-align: center;
    height: 68%;
    line-height: 58px;
    margin-top: 50px;
    font-weight: normal;
    color: #FFFFFF;
    text-shadow: 1px 1px #7C7C7C;
}
.container2 {
    height: 536px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    align-items: center;
}
.container2 #a03 p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 169%;
    line-height: 198%;
    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    margin-bottom: 50px;
}
.picture div p {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 145%;
    line-height: 198%;
    text-align: center;
    text-shadow: 1px 1px 1px #979797;
}



.course {
    background-image: url(image/equipment.jpg);
    height: 79%;
    background-size: 100% auto;
    background-position: 0% 56%;
    opacity: 1;

}

article p {
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 1px 1px #000000;
    color: #FFFFFF;
}
.img {
    margin: 5px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #000E12;
    text-align: center;
    font-size: 14px;
    line-height: 60px;
    color: #E6E6E6;
}
.fa.fa-instagram {
    margin-left: 15px;
    color: #FFFFFF;
}
<style>
{
  box-sizing: border-box;
}

body {
    margin: 0; 
    width: 100%;
}
.column {
    float: left;
    width: 20%;
    padding: 10px;
}
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
}
.container3 #expandedImg {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.container4 #expandedImg1 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.container5 #expandedImg2 {
	display: flex;
    margin-left: auto;
    margin-right: auto;
}


.container6 #expandedImg3 {
	display: flex;
    margin-left: auto;
    margin-right: auto;
}

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
</style>
.picture .blackboard {
}
